{% extends "layout.html" %}

{% block content %}
<h2>netMon</h2>
<h3>A Distributed Network Monitoring Solution using locally deployed nodes</h3>
<hr>
Nodes running on low-cost hardware (e.g. raspberry pi's) or docker containers running various network probes providing insight into the health of the network.

<h3>Key Features</h3>
Local perspective of networks and applications
Extensive and customisable reporting
Level of access and visibility easily segmented (admins, region admins, managers, etc.)
Clear overview of environment, able to scale from small to med-large organizations
Quick and easy deployable nodes, plug-and-play
{% endblock %}
