{% extends "layout.html" %}
{% block content %}
<form action="{{url_for('add_task')}}" class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <div class="heading">
          <h4 class="form-heading">Add a task</h4>
        </div>

        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
          {{ form.name.label(class="col-sm-4") }}
          <div class="col-sm-3">
            {{ form.name(placeholder="MyProbe", class="form-control") }}
          </div>
          <p class="col-sm-5 help-block">
          {{ form.name.errors[0] }}
        </div>

        <div class="form-group {% if form.dest_addr.errors %} has-error {% endif %}">
          {{ form.dest_addr.label(class="col-sm-4") }}
          <div class="col-sm-3">
            {{ form.dest_addr(placeholder="127.0.0.1", class="form-control") }}
          </div>
          <p class="col-sm-5 help-block">
          {{ form.dest_addr.errors[0] }}
        </div>

        <div class="form-group {% if form.probe_type.errors %} has-error {% endif %}">
          {{ form.probe_type.label(class="col-sm-4") }}
          <div class="col-sm-3">
            <select class="form-control">
            {% for probe_type in form.probe_type %}
                {{ probe_type }}
            {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group {% if form.recurrence_count.errors %} has-error {% endif %}">
          {{ form.recurrence_count.label(class="col-sm-4") }}
          <div class="col-sm-3">
            {{ form.recurrence_count(class="form-control") }}
          </div>
          <p class="col-sm-5 help-block">
          {{ form.recurrence_count.errors[0] }}
        </div>

        <div class="form-group {% if form.recurrence_time.errors %} has-error {% endif %}">
          {{ form.recurrence_time.label(class="col-sm-4") }}
          <div class="col-sm-3">
            {{ form.recurrence_time(class="form-control") }}
          </div>
          <p class="col-sm-5 help-block">
          {{ form.recurrence_time.errors[0] }}
        </div>


        <button class="btn btn-success" type="submit">Add Task</button>
</form>
{% endblock %}

