{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-3">
  <!-- User profile of {{ user.name }} -->
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="img-rounded pull-left" style="margin-right: 10px;" src="http://placehold.it/96x96.jpg">
            <br>
            <h4>{{ user.name }}</h4>
        </div>
        <div class="panel-footer">
            <small>
               member since {{user.datecreated}}
            </small>
        </div>
    </div>
  </div>
</div>

{% endblock %}


