{% extends "layout.html" %}

{% block content %}

<h3>{{probe['_id']}} added to database</h3>
<BR><BR>
<ul class='list-group'>
    <li class='list-group-item'>Type {{probe['type']}}</li>
    <li class='list-group-item'>Recurrence time {{probe['recurrence_time']}} (sec)</li>
    <li class='list-group-item'>Recurrence count {{probe['recurrence_count']}}</li>
    <li class='list-group-item'>Run at {{probe['run_at']}}</li>
    <li class='list-group-item'>Destination address {{probe['dest_addr']}}</li>
{% if probe['type'] == 'PingProbe' %}
    <li class='list-group-item'>Timeout {{probe['timeout']}}</li>
    <li class='list-group-item'>Count {{probe['count']}}</li>
    <li class='list-group-item'>Preload {{probe['[preload']}}</li>
{% elif probe['type'] == 'TraceProbe' %}
    <li class='list-group-item'>Wait time {{probe['wait_time']}}</li>
    <li class='list-group-item'>Max hops {{probe['max_hops']}}</li>
{% endif %}
</ul>
{% endblock %}
