{% extends "layout.html" %}

{% block content %}

<h3>{{task['_id']}} added to database</h3>
<BR><BR>
<ul class='list-group'>
    <li class='list-group-item'>Type {{task['type']}}</li>
    <li class='list-group-item'>Recurrence time {{task['recurrence_time']}} (sec)</li>
    <li class='list-group-item'>Recurrence count {{task['recurrence_count']}}</li>
    <li class='list-group-item'>Run at {{task['run_at']}}</li>
    <li class='list-group-item'>Destination address {{task['dest_addr']}}</li>
{% if task['type'] == 'PingProbe' %}
    <li class='list-group-item'>Timeout {{task['timeout']}}</li>
    <li class='list-group-item'>Count {{task['count']}}</li>
    <li class='list-group-item'>Preload {{task['[preload']}}</li>
{% elif task['type'] == 'TraceProbe' %}
    <li class='list-group-item'>Wait time {{task['wait_time']}}</li>
    <li class='list-group-item'>Max hops {{task['max_hops']}}</li>
{% endif %}
</ul>
{% endblock %}
