{% extends "layout.html" %}

{% block content %}

<table class="table table-striped">
  <tr>
    <th>task_id</th>
    <th>type</th>
    <th>destination</th>
    <th>first run</th>
    <th>recurrence</th>
    <th>recurrence time (sec)</th>
    <th>run on nodes</th>
    <th>run on groups</th>
  </tr>
{% for task in tasks %}
  <tr>
      <td><a href='{{ url_for('task', task_id=task['_id']) }}'>{{task['_id']}}</a></td>
      <td>{{task['type']}}</td>
      <td>{{task['dest_addr']}}</td>
      <td>{{task['run_at']}}</td>
      {% if task['recurrence_time'] and not task['recurrence_count'] %}
        <td>persistent</td>
        <td>{{task['recurrence_time']}}</td>
      {% elif not task['recurrence_time'] and not task['recurrence_time'] %}
        <td>one-off task</td>
        <td></td>
      {% else %} 
        <td>{{task['recurrence_count']}}</td>
        <td>{{task['recurrence_time']}}</td>
      {% endif %}
          <td>{{task['run_on_nodes']|join(' ,')}}</td>
          <td>{{task['run_on_groups']|join(' ,')}}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
