{% extends "layout.html" %}

{% block content %}

<h3>{{ task['_id'] }}</h3>
<span class='small'><b>Type</b> {{ task['type'] }}</span>
<BR><BR>

{% if task['type'] == 'PingProbe' %}

{{ chart|safe }}
<BR><BR>
  <table class="table table-striped">
      <tr>
          <th>timestamp</th>
          <th>min</th>
          <th>avg</th>
          <th>max</th>
          <th>error</th>
      </tr>
{% if 'result' in task %}
  {% for result in task['result'] %}
     <tr>
         <td>{{result['timestamp']}}</td>
         <td>{{result['min']}}</td>
         <td>{{result['avg']}}</td>
         <td>{{result['max']}}</td>
         <td>{{result['error']}}</td>
     </tr>
  {% endfor %}
  </table>
{% else %}
  </table>
  No results yet
{% endif %}

{% elif task['type'] == 'TraceProbe' %}

  {% for result in task['result'] %}
  <table class="table table-striped">
      <caption>Timestamp {{ result['timestamp'] }}</caption>
      <tr>
          <th>hop</th>
          <th>ip address</th>
          <th>rtt</th>
      </tr>
  {% for value in result['hops'] %}
      <tr>
          <td>{{loop.index0 + 1}}</td>
          <td>{{value['ip_address']}}</td>
          <td>{{value['rtt']}}</td>
      </tr>
  {% endfor %}
  </table>
  {% endfor %}
{% endif %}
{% endblock %}
